.ContainerComponent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $cOffWhite;
    overflow: hidden;

    .filterBarSlider {
        max-height: 0;
        overflow: hidden;
        transition: max-height 300ms ease-out;

        &.open {
            max-height: 200px;
        }
    }
}
