.IntroComponent {
    position: fixed;
    background: $cOffWhite;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 480px 1fr;
    grid-template-rows: 1fr auto auto auto 2fr;
    row-gap: 30px;
    grid-template-areas:
    '. title .'
    '. info .'
    '. hexInput .'
    '. ButtonComponent .'
    '. . .';

    .title {
        grid-area: title;
        align-self: end;
        justify-self: left;
        font-family: fBold;
        font-size: 32px;
        line-height: 48px;
    }

    .info {
        grid-area: info;
        font-size: $sFont;
        font-family: txtMed;
        text-align: left;
        align-self: center;
        line-height: 24px;
    }

    .hexInput {
        grid-area: hexInput;
        justify-self: left;
        text-align: left;

        .label {
            font-family: txtBold;
            margin-bottom: 10px;
        }

        input {
            width: 160px;
            height: 40px;
            border: $inputborder solid $cGrey;
            border-radius: $radius;
            font-size: $sFont;
            font-family: txtMed;
            padding-left: 10px;
            box-sizing: border-box;

            &:focus {
                outline: 3px solid #53cbed;
            }

            &.error {
                border-color: #d32f2f;
                &:focus { outline-color: #d32f2f; }
            }
        }

        .error-message {
            color: #d32f2f;
            font-size: $sFont;
            font-family: txtMed;
            margin-top: 10px;
        }
    }

    .ButtonComponent {
        grid-area: ButtonComponent;
        width: 100%;
        align-self: end;
        justify-self: center;
    }

    @media #{$tablet} {
        width: 100%;
        height: 100%;
    }

    @media #{$phone} {
        width: 100%;
        height: 100%;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 1fr 140px auto auto 1fr;
        row-gap: 30px;

        .hexInput {
            width: 100%;

            input {
                width: 100%;
            }
    }

        .ButtonComponent {
            width: 100%;
            align-self: center;
        }
    }

} // IntroComponent
