.IntroComponent {
    position: fixed;
    background: $cOffWhite;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 560px 1fr;
    grid-template-rows: 1fr auto auto auto auto 2fr;
    row-gap: 30px;
    grid-template-areas:
    '. title .'
    '. subheader .'
    '. info .'
    '. HexInputComponent .'
    '. . .';

    .title {
        grid-area: title;
        align-self: end;
        justify-self: left;
        font-family: fBold;
        font-size: 32px;
        line-height: 48px;
    }

    .subheader {
        grid-area: subheader;
        font-size: $sFont;
        font-family: txtBold;
        text-align: left;
        align-self: center;
        line-height: 24px;
    }

    .info {
        grid-area: info;
        font-size: $sFont;
        font-family: txtMed;
        text-align: left;
        align-self: center;
        line-height: 24px;
    }

    .HexInputComponent {
        grid-area: HexInputComponent;
        justify-self: left;
        text-align: left;

        .ButtonComponent {
            background: $cPrimary;
            color: $cWhite;
            border-color: $cPrimary;
            white-space: nowrap;
            padding: 0 10px;
        }
    }

    @media #{$tablet} {
        width: 100%;
        height: 100%;
    }

    @media #{$phone} {
        width: 100%;
        height: 100%;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 1fr auto auto auto auto 2fr;
        row-gap: 30px;

        .HexInputComponent {
            width: 100%;

            .input-row {
                flex-wrap: wrap;
            }

            input {
                flex: 1;
                min-width: 0;
            }

            .ButtonComponent {
                width: 100%;
            }
        }
    }

} // IntroComponent
