.HeaderComponent {
    height: 64px;
    width: 100%;
    background: $cWhite;
    font-family: fBold;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    
    .header-content {
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .title {
        font-size: 24px;
        flex-shrink: 0;
    }

    .header-center {
        flex: 1;
        display: flex;
        justify-content: center;

        .HexInputComponent {
            .label {
                display: none;
            }

            .swatch-icon {
                display: none;
            }

            input {
                width: 120px;
            }
        }

        .createButton {
            color: inherit;
        }
    }
    
    .header-right {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
    }

    .headerButton {
        color: inherit;
        padding: 0 12px;
        display: flex;
        align-items: center;
        gap: 6px;

        img {
            height: 24px;
            width: 24px;
            vertical-align: middle;
        }

        span {
            display: flex;
            align-items: center;
            gap: 6px;
        }
    }

    &.dark {
        .headerButton, .createButton {
            background: $cActionDark;
            &:hover { background: $cHoverDark; }
            &:active { background: $cPressDark; }
        }

        .HexInputComponent input {
            background-color: $cActionDark;
            color: $cWhite;
            &:hover { background-color: $cHoverDark; }
            &:active { background-color: $cPressDark; }
        }
        
    }

    @media #{$tablet} {
        grid-template-columns: 40px 1fr 40px;
    }

    @media #{$phone} {
        grid-template-columns: 10px 1fr 10px;
        height: auto;
        padding: 15px 0;

        .header-content {
            flex-wrap: wrap;
        }

        .title {
            width: 100%;
            font-size: 22px;
            height: 35px;
        }

        .header-center {
            display: none;
        }

        .header-right {
            width: 100%;
            gap: 15px;
        }
    }

} // HeaderComponent
