.FilterBarComponent {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;

    .filterRow {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 20px;
    }

    .filterTitle {
        font-size: $sFont;
        white-space: nowrap;
        margin-right: 4px;
    }

    .filterSelector {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        .title {
            font-family: $fAlbert;
            font-weight: 500;
            white-space: nowrap;
            margin: 0;
        }

        .wrapper {
            display: flex;
            gap: 3px;

            button {
                width: 88px;
                border: 0;

                &:first-child {
                    border-radius: 20px $radius $radius 20px;
                    padding-left: 10px;
                }
                &:not(:first-child):not(:last-child) {
                    border-radius: $radius;
                }

                &:last-child {
                    border-radius: $radius 20px 20px $radius;
                    padding-right: 10px;
                }
            }
        }
    }

    .filterCount {
        font-family: $fAlbert;
        font-weight: 500;
        font-size: 14px;
        opacity: 0.8;
        white-space: nowrap;
        margin-top: 15px;
    }


    &.dark {
        .filterSelector .wrapper button {
            background: $cActionDark;
            color: inherit;
            &:hover:not(.active) { background: $cHoverDark; }
            &:active:not(.active) { background: $cPressDark; }
            &.active { color: $cGrey; background: $cPressDark; }
        }
    }

    @media #{$phone} {
        padding: 10px 10px;
        align-items: stretch;

        .filterRow {
            flex-direction: column;
            gap: 15px;
        }

        .filterSelector {
            width: 100%;
            align-items: stretch;

            .wrapper {
                button {
                    flex: 1;
                    width: auto;
                }
            }
        }
        .filterCount {
            text-align: center;
        }
    }

}

// FilterBarComponent