// varibles

// colors
$cOffWhite: #f9f9f9;
$cWhite: #fff;
$cLightGrey: #dfe3ea;
$cGrey: #333;
$cDarkGrey: #474747;
$cBlack: #000;

// cta colors
$cCTA: #f9f9f9;
$cPrimary: #654ECC;

// input and button colors
$cActionLight: rgba(51, 51, 51, 0.12);
$cHoverLight: rgba(51, 51, 51, 0.30);
$cPressLight: rgba(51, 51, 51, 0.80);

$cActionDark: rgba(255, 255, 255, 0.20);
$cHoverDark: rgba(255, 255, 255, 0.40);
$cPressDark: rgba(255, 255, 255, 0.80);


// sizes
$sFont: 16px;
$sFontMedium: 20px;
$sFontbig: 24px;
$radius: 4px;
$radius-lg: 8px;
$inputborder: 1px;


$phone: "(max-width: 530px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 530px)";

$tablet: "(min-width: 531px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 531px)";


// fonts
@font-face {
    font-family: fMedium;
    src: url('app/fonts/Eczar-Medium.ttf');
}

@font-face {
    font-family: fRegular;
    src: url('app/fonts/Eczar-Regular.ttf');
}

@font-face {
    font-family: fBold;
    src: url('app/fonts/Eczar-Bold.ttf');
}

@font-face {
    font-family: txtBold;
    src: url('app/fonts/AlbertSans-Bold.ttf');
}

@font-face {
    font-family: txtMed;
    src: url('app/fonts/AlbertSans-Medium.ttf');
}

// main
@import './app/reset.scss';

//components
@import './HexInput/index.scss';
@import './Intro/index.scss';
@import './Container/index.scss';
@import './SettingsModal/index.scss';
@import './Selector/index.scss';
@import './Information/index.scss';
@import './Header/index.scss';
@import './Loading/index.scss';
@import './Schemes/index.scss';
@import './Schemes/Scheme/index.scss';
@import './About/index.scss';
@import './FilterBar/index.scss';
@import './Button/index.scss';


// core
body {
    background: $cWhite;
    font-family: txtMed;
    font-size: $sFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $cGrey;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;

    .fBlack {
        font-family: txtBold;
    }

    .restrict {
        pointer-events: none;
        opacity: 0.5;
    }


}
